@media (min-width: 64em) and (min-height: 25em) {
    .center {
        text-align: center
    }

    .spacer {
        height: 6vh
    }

    .preamble {
        height: 33vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .times {
        height: 33vh;
    }

    .privacy {
        height: 66vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links {
        height: 0;
        display: flex;
        justify-content: center;
    }
}