body {
	font-family: sans-serif;
	padding: 2.5em;
}

body {
	background-color: #eeeeeeee;
}

a {
	color: lightseagreen;
	transition: all 0.1s ease-in-out;
	text-decoration: none;
}

a:hover {
	color: lightslategray;
	text-decoration: underline;
}