[Unit]
Description=Runs Heatbeat Server
Requires=heartbeat-server.service

[Timer]
Unit=heartbeat-server.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target