[Unit]
Description=Runs Living's Heatbeat Beat
Requires=heartbeat-client.service

[Timer]
Unit=heartbeat-client.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target